# ==========================================
# Java & Maven
# ==========================================
target/
*.class
*.jar
*.war
*.ear
*.log
*.tmp

# ==========================================
# Spring Boot
# ==========================================
application-local.yml
application-local.properties
.env

# ==========================================
# IDE
# ==========================================
.idea/
*.iml
.vscode/*
!.vscode/settings.json
*.suo
*.user

# ==========================================
# OS
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Docker
# ==========================================
nginx/ssl/*.crt
nginx/ssl/*.key
nginx/ssl/*.pfx
nginx/ssl/*.pfx.password

# ==========================================
# Integration Tests
# ==========================================
tests/.env.ci

# ==========================================
# Performance Tests
# ==========================================
src/test/resources/data/

# ==========================================
# Staging Environments
# ==========================================
.env.staging
tests/.env.staging

# ==========================================
# Temporary File
# ==========================================
cloudshare-improvement-branches.bundle
open-prs.ps1
__pycache__
*.pyc

# ==========================================
# Uploads
# ==========================================
uploads/

# ==========================================
# Patchs
# ==========================================
*.patch