apiVersion: v1
kind: Config
clusters:
  - name: lab
    cluster:
      server: {{ kubeconfig_server }}
      certificate-authority-data: {{ kubeconfig_ca_data }}
contexts:
  - name: cd-deployer@lab
    context:
      cluster: lab
      user: cd-deployer
current-context: cd-deployer@lab
users:
  - name: cd-deployer
    user:
      token: {{ kubeconfig_token }}
